doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="./javascripts/modules/jquery.js")
    script(src="./javascripts/modules/bootstrap.js")
    script(src="./javascripts/modules/angular.js")
    script(src="./javascripts/modules/angular-route.js")
    script(src="./javascripts/modules/angular-ui-router.js")

    script(src="./javascripts/app.js")
    script(src="./javascripts/controllers/home.js")
    script(src="./javascripts/controllers/about.js")
    script(src="./javascripts/services/friends.js")
  body
    
    block content
